@import url(https://fonts.googleapis.com/css?family=Roboto);

.login {
  cursor: pointer;
  font-family: Roboto;
  font-size: larger;
  font-weight: bold;
}

.modal-container {
  background-color: white;
  position: absolute;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
}

.modal-overlay--center {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: hsla(100, 4%, 15%, 0.185);
  z-index: 99;
}

.signup_box {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
}
